@model IEnumerable<Portfolio.Domain.Models.Transaction>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Count() > 0)
{
    <h1>@Model.FirstOrDefault().Asset.Coin.Name Transactions of "@Model.FirstOrDefault().Asset.Portfolio.Name" Portfolio </h1>


    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fee)
                </th>
              
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)  <br />
                        @Html.DisplayFor(modelItem => item.ExecutionDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fee)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<div>
    @Html.ActionLink("Back to portfolio", "Index", "Portfolio")
</div>

