@model Portfolio.Models.ListPortfolioModel

@{
    ViewData["Title"] = "Portfolio";
}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Porfolio</li>
    </ol>
</nav>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-4">
            <b>Portfolios</b>

            @foreach (var portfolio in Model.Portfolios)
            {
        <div>
            <row>
                <a href="/Portfolio/Index?portfolioId=@portfolio.Id&accountId=@Model.AccountId">@portfolio.Name</a>
            </row> <br />
                   <row>
                       $@string.Format("{0:N2}", portfolio.TotalValue)
                   </row>

                   <row>

                       @if (portfolio.Id.ToString() != "3b7d2f1a-af13-4ffa-b5e9-733c23759193")
                       {
                           <div class="btn-group float-right" role="group">
                               <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="16px" width="16px" viewBox="0 0 24 24" color="neutral4" class="sc-16r8icm-0 iRRzNg"><path d="M10 12C10 13.1046 10.8954 14 12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12Z"></path><path d="M10 5C10 6.10457 10.8954 7 12 7C13.1046 7 14 6.10457 14 5C14 3.89543 13.1046 3 12 3C10.8954 3 10 3.89543 10 5Z"></path><path d="M10 19C10 20.1046 10.8954 21 12 21C13.1046 21 14 20.1046 14 19C14 17.8954 13.1046 17 12 17C10.8954 17 10 17.8954 10 19Z"></path></svg>
                               </button>
                               <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                                   <a href="/Portfolio/Delete/@portfolio.Id" class="dropdown-item">Delete</a>
                               </div>
                           </div>
                       }
                       else
                       {
                           <p class="float-right">(Main)</p>
                       }

                       @if (Model.SelectedPortfolioId == portfolio.Id)
                       {
                           <img class="checkIcon float-right" src="https://s2.coinmarketcap.com/static/cloud/img/checkIcon.png?_=a91e2fa">
                       }
                   </row>
        </div>
                <br />
                <hr />
            }
            <a href="/Portfolio/Create?accountId=@Model.AccountId" class="btn btn-dark">Create portfolio</a>
        </div>
        <div class="col-sm-8">
            <row>
                <b>Assets</b>
                <a href="/Transaction/Create?portfolioId=@Model.SelectedPortfolioId" class="btn btn-primary float-right">Add new</a>
            </row>
            <br />
            @{ 
                var selectedPortfolio = Model.Portfolios.FirstOrDefault(n => n.Id == Model.SelectedPortfolioId);
            }
            @if (selectedPortfolio?.Assets.Count() > 0)
            {
                <div>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>24H</th>
                            <th>Holdings</th>
                            <th>Avg. Buy Price</th>
                            <th>Profit/Loss</th>
                            <th>Actions</th>
                        </tr>
                        @foreach (var asset in selectedPortfolio?.Assets.Where(n=>n.Holdings > 0))
                        {

                            <tr>
                                <td> @asset.Coin.Name</td>
                                <td>$@string.Format("{0:N2}", asset.Coin.Price)</td>
                                <td> @string.Format("{0:N2}%", asset.Coin.DayChange)</td>
                                <td> @string.Format("{0:N2}", asset.Holdings)</td>
                                <td> @string.Format("{0:N2}", asset.AverageBuyPrice)</td>
                                <td> @string.Format("{0:N2}", asset.Holdings * (asset.Coin.Price - asset.AverageBuyPrice )) </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="16px" width="16px" viewBox="0 0 24 24" color="neutral4" class="sc-16r8icm-0 iRRzNg"><path d="M10 12C10 13.1046 10.8954 14 12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12Z"></path><path d="M10 5C10 6.10457 10.8954 7 12 7C13.1046 7 14 6.10457 14 5C14 3.89543 13.1046 3 12 3C10.8954 3 10 3.89543 10 5Z"></path><path d="M10 19C10 20.1046 10.8954 21 12 21C13.1046 21 14 20.1046 14 19C14 17.8954 13.1046 17 12 17C10.8954 17 10 17.8954 10 19Z"></path></svg>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <a class="dropdown-item" href="/Asset/Delete/@asset.Id">Delete</a>
                                            <a class="dropdown-item" href="/Transaction/Create?assetId=@asset.Id&coinId=@asset.CoinId&portfolioId=@asset.PortfolioId">Add</a>
                                            <a class="dropdown-item" href="/Transaction/Index/@asset.Id">Transactions</a>
                                        </div>
                                    </div>

                                </td>


                            </tr>

                        }
                    </table>

                </div>
            }
            else
            {
                <div>
                    <p>
                        This portfolio is empty
                        Add any coins to get started
                    </p>
                    <p>Add new</p>
                </div>
            }

        </div>
    </div>
</div>

